name: building golang application
on:
  push:

jobs:
  golang_app:
    runs-on: ubuntu-latest
    steps:
      - name: setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: setup golang
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.17.0'
          cache-dependency-path: subdir/go.sum

      - name: checkout source
        uses: actions/checkout@v3

      - name: Build App
        run: go build -v

      - name: Send GitHub Action trigger data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: | 
            {
              "text": "GitHub Action build result: ",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
      
  # deploy:
  #   - name: Deploy on Staging