name: building golang application
on:
  push:
    branches: 'release/v*.*'

# test no run
jobs:
  golang_apps:
    if: ${{ startsWith(github.event.head_commit.message, '#NORUN') != true }}
    runs-on: ubuntu-latest
    steps:
      - name: setup golang
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.17.0'
          cache-dependency-path: subdir/go.sum

      - name: checkout source
        uses: actions/checkout@v3

      - name: Build App
        run: go build -v

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Send GitHub Action trigger data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: | 
            {
              "text": "GitHub Action build result: ",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "DipSA 56 CI/CD Submission",
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Name:* WYT"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Email:* <gmail.com|dash6789fire@gmail.com>"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Matriculation:* abc123"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Repository:* https://github.com/CrystalWYT17/GolangWorkshop.git"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<https://swanky-house-production.up.railway.app|https://swanky-house-production.up.railway.app>"
                  },
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "Go",
                      "emoji": true
                    },
                    "value": "click_me_123",
                    "action_id": "button-action"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
      